* {
  box-sizing: border-box;
}

.Main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #396df2;
}

header {
  padding: 25px;
  height: 110px;
}

main {
  display: flex;
  flex-direction: column;
  height: 700px;
  background-image: url(assets/images/header-shapes\ mobile.jpg);
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-size: 40px;
  line-height: 52px;
  line-height: 87%;
  color: #172b4d;
}

.About {
  font-family: 'Poppins', sans-serif;
  font-style: regular;
  font-size: 16px;
  line-height: 24px;
  line-height: 100%;
  color: #344563;
  margin-top: -10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.meet {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: rgb(127, 140, 255);
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 20px;
}

form > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  list-style-type: none;
  margin-right: 100px;
}

.Links ul {
  display: flex;
  justify-content: flex-start;
  margin-left: -20px;
  gap: 5px;
  margin-bottom: 50px;
}

form > ul > li {
  padding-bottom: 30px;
}

.lang li {
  color: #6070ff;
  background: #ebebff;
  padding: 6px;
  border-radius: 10px;
}

.languages > li {
  display: flex;
  border: 5px solid #f7f7f9;
  border-radius: 10px;
  margin: 3px;
  background: #f7f7f9;
  margin-left: -35px;
}

.Links ul li {
  list-style-type: none;
}

.details {
  display: flex;
  justify-content: space-around;
  margin-left: -40px;
  margin-right: 100px;
  list-style: none;
}

/* .grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  width: 100%;
} */

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: start;
}

.projects1 {
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.75);
}

.project-img {
  text-align: center;
  max-width: 80%;
}

.task ul {
  display: flex;
  gap: 20px;
  border-radius: 8px;
  margin-right: 20px;
  margin-left: -35px;
  color: #344563;
  list-style-type: none;
  text-align: start;
}

.para {
  /* font-size: 15px; */
  line-height: 24px;
  color: #344563;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  /* line-height: 28px; */

  /* width: 80%; */
  margin-right: 20px;
  margin-left: 5px;
}

.lang {
  list-style-type: none;
  display: flex;
  gap: 24px;

  /* float: left; */
}

button {
  background: #fff;
  color: #396df2;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  border: 1px solid blue;
  margin-left: 5px;
  margin-bottom: 10px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  padding: 10px;
  margin-left: -8px;
}

.connect {
  padding-bottom: 20px;
  color: rgb(127, 140, 255);
}

.social-icon {
  display: flex;
  list-style-type: none;
  gap: 10px;
  margin-left: -35px;
}

ul.social-icon li {
  margin-left: 0;
}

.skill {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 10px;
  color: #000;
}

.languages {
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
}

.tech {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 15px;
  color: #253858;
}

hr {
  width: 50%;
  margin-left: 10px;
  background: #f7f7f9;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(assets/images/Contact\ me.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.first-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}

.first-container > h2 {
  color: white;
  margin-top: 100px;
}

.first-container > p {
  color: white;
}

form > ul > li > input {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: white;
  padding: 10px;
  width: 165%;
}

form > ul > li > textarea {
  color: #b3bac5;
  width: 125%;
  padding: 10px;
}

input:focus,
textarea:focus {
  border-color: #000;
}

.shape {
  width: 134px;
  height: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #0d151e;
}
